body{
    background-color: #d96a0f;
}

.card, .languages{
    margin-top: 75px;
}

.project-div{
    padding-top: 40px;
}

.projects{
    margin-left: 35%;
}

.contact-icons{
    margin-left: 40%;
    padding-top: 20px;
}

